

label {
    font-size: 0.7vw;
    display: flex;
    justify-content: center; /* Mengatur label menjadi di tengah secara horizontal */
    align-items: center; /* Mengatur label menjadi di tengah secara vertikal */
}

.container{
    max-width: 70vw !important;
    margin-bottom: 100px;   
}

.bordered{
    border: 1px solid #000000
}

.bordered-no-top{
    border-top: none !important; 
    border: 1px solid #000000
}

.bordered-no-bot{
    border-bottom: none !important; 
    border: 1px solid #000000
}

.border-top{
    border-bottom: none !important; 
    border-right: none !important; 
    border-left: none !important; 
    border: 10px solid #000000
}

.btn {
    font-size: 0.9vw;
}
.textarea{
    resize: none;
    height: 96% !important;
}


.page-title {
    font-size: 27px;
    text-decoration: underline;
}

.row-bot-1{
    height: 10vh;
}
/* .row-bot-1_1{
    height: 7vh;
} */

.row-bot-2{
    height: 31vh;
}

.row-bot-3{
    height: 31vh;
}


p{
    margin-top: 5px !important;
    text-align: left !important;
}

hr{
    margin: 0 !important;
}


#dashboard {
    background-size: contain;
    background-position: center;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-year {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
  }
  
  .dropdown-content-year label {
    display: block;
    padding: 10px;
  }
  
  .dropdown-content-year label:hover {
    background-color: #ddd;
  }
  
  .dropdown-content-year input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .dropdown:hover .dropdown-content-year {
    display: block;
  }

  .dropdown-content-month {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
  }
  
  .dropdown-content-month label {
    display: block;
    padding: 10px;
  }
  
  .dropdown-content-month label:hover {
    background-color: #ddd;
  }
  
  .dropdown-content-month input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .dropdown:hover .dropdown-content-month {
    display: block;
  }

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 768px) {

}


